/* "Montserrat", sans-serif; 400, 500, 600, 700 */
/* "Playfair Display", serif; 900 */
/* Light blue: #9ad4d3 */
/* Dark blue: #1b4d89 */
/* Yellow: #f9e45b */
/* Green: #6db784 */
/* White: #ffffff */
/* Grey: #828282 */

/* FONTS and COLORS */

#page, #fh5co-header .overlay, #fh5co-work, #fh5co-features, #fh5co-started {
    background-color: #9ad4d3;
}

#fh5co-header .display-tc .profile-thumb {
    border: 16px solid #6db784;
    outline: 8px solid #f9e45b;
    background-position: 20px;
    height: 275px;
    width: 275px;
    margin-top: 20px;
}

#fh5co-header .display-tc h1, .fh5co-heading h2 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
}

#fh5co-header .display-tc h3, .fh5co-heading p, .skill-icon p, .fh5co-blog *  {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#fh5co-header .display-tc h3 {
    line-height: 1.3em;
}

::-webkit-selection {
  color: #fff;
  background: #6db784;
}

::-moz-selection {
  color: #fff;
  background: #6db784;
}

::selection {
  color: #fff;
  background: #6db784;
}

/* SPLASH Section */

#fh5co-header .display-tc .fh5co-social-icons li a > * {
    height: 30px;
    width: auto;
}

#fh5co-header .display-tc .fh5co-social-icons li a:hover {
    color: #f9e45b;
}

#fh5co-header .display-tc .resume-callout {
    border: 3px solid #f9e45b;
    background-color: #6db784;
    display: inline-block;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    transition: all .3s ease;
    margin-right: 20px;
}

#fh5co-header .display-tc .resume-callout:hover {
    background-color: #f9e45b;
    border-color: #6db784;
}

#fh5co-header .display-tc .resume-callout:hover .resume-callout-inner {
    color: #1b4d89;
}

#fh5co-header .display-tc .resume-callout-inner {
    display: flex;
    padding: 16px 18px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    transform: rotate(-5deg);
    transition: all .3s ease;
}

#fh5co-header .display-tc .fh5co-social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#fh5co-header .display-tc .fh5co-social-icons .resume-callout, #fh5co-header .display-tc .fh5co-social-icons div {
    margin-bottom: 24px
}

/* ABOUT ME Section */

/* .fh5co-about {
    background-color: #9ad4d3;
} */

#fh5co-about > *, #fh5co-about h2 {
    font-family: "Montserrat", sans-serif;
}

.fh5co-heading h2 {
    font-weight: 600;
    color: #ffffff;
    /* background-color: #6db784; */
    /* padding: 0 10px; */
    /* width: fit-content; */
}

#fh5co-about .fh5co-social-icons li a {
    background-color: #1b4d89;
    border-radius: 50%;
}

#fh5co-about .fh5co-social-icons li a > * {
    height: 20px;
    width: auto;
}

#fh5co-about .fh5co-social-icons li a:hover {
    background-color: #f9e45b;
}

/* Work Experience Timeline */

#fh5co-resume h2 {
    font-family: "Playfair Display", serif;
}

#fh5co-resume > *, #fh5co-resume h3 {
    font-family: "Montserrat", sans-serif;
}

.timeline > li > .timeline-badge {
    background-color: #6db784;
    border: 3px solid #f9e45b;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .timeline-heading > div h3, #fh5co-resume .timeline-title {
    font-weight: 600;
}

.timeline .timeline-heading > div h3 {
    background-color: #f9e45b;
    color: #1b4d89;
}

#fh5co-resume .timeline-title, .timeline-body {
    color: #ffffff;
}

.fa-users, .fa-seedling, .fa-book-open, 
.fa-briefcase, .fa-paint-brush {
    height: 20px;
    width: 20px;
}

/* SKILLS Section */

.fh5co-heading {
    margin-bottom: 0;
}

.fh5co-heading p {
    color: #ffffff;
}

.fh5co-heading p strong {
    font-weight: 700;
}

.skill-icon {
    color: #ffffff;
    padding: 30px;
    transition: all .3s ease;
    border-radius: 50%;
    border: 3px solid transparent;
    width: 100px;
    height: 100px;
    position: relative;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon p {
    position: absolute;
    opacity: 0;
    margin: 0;
    font-size: 14px;
    color: #1b4d89;
    transition: all .3s ease;
}

.skill-icon:hover {
    color: #6db784;
    border-color:#6db784;
    background-color: #ffffff9b;
}

.skill-icon:hover p {
    opacity: 1;
}

.iconify {
    height: 100%;
    width: auto;
    z-index: -1;
}

#fh5co-skills .container .row-pb-md {
    display: flex;
    justify-content: center;
}

#fh5co-skills .container .row-pb-md .skill-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

/* PROJECTS Section */

.fh5co-blog {
    border: 8px solid transparent;
    transition: all .3s ease;
}

.fh5co-blog:hover {
    border-color: #f9e45b;
}

.fh5co-blog .blog-text {
    margin-bottom: 0;
}

.fh5co-blog .blog-text h3 {
    margin-bottom: 6px;
}

.fh5co-blog .blog-text h3 a {
    color: #1b4d89;
    font-weight: 600;
}

.fh5co-blog .blog-text p:first-of-type {
    color: #1b4d89;
    margin-bottom: 28px;
}

.fh5co-blog .blog-text p {
    color: #828282;
    font-size: 16px;
    margin-bottom: 10px;
}

.fh5co-blog .blog-text .stuff li a, 
.fh5co-blog .blog-text .stuff li:last-child a {
    color: #1b4d89;
    font-size: 17px;
}

/* REACH OUT Section */

.final-callout-container {
    /* display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-wrap: wrap; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 24px;
    div {
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width: 350px) {
        grid-template-columns: 1fr 1fr;
        div:first-of-type {
            justify-content: flex-end;
        }
        div:last-child {
            justify-content: flex-start;
        }
    }
}

.final-callout {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 8px solid #f9e45b;
    background-color: #6db784;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.final-callout:hover {
    background-color: #f9e45b;
    border-color: #6db784;
}

#fh5co-started .fh5co-heading .final-callout p {
    width: 80%;
    margin-bottom: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    transform: rotate(-5deg);
    transition: all .3s ease;
}

#fh5co-started .fh5co-heading .final-callout:hover p {
    color: #1b4d89;
}

#fh5co-started .fh5co-heading p {
    color: #ffffff;
}

.final-info-grid:nth-child(2) {
    border: 2px solid red;
}

.final-info-grid p, .final-info-grid p a {
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
}

.final-info-grid p a {
    color: #ffffff;
}

/* FOOTER Section */

#fh5co-footer {
    padding: 40px 0;
}

#fh5co-footer .fh5co-social-icons {
    display: flex;
    justify-content: center;
}

#fh5co-footer .fh5co-social-icons li a {
    padding: 0 20px;
}

#fh5co-footer .fh5co-social-icons li a > * {
    height: 30px;
    width: auto;
    color: #ffffff;
    transition: all .5s ease;
}

#fh5co-footer .fh5co-social-icons li a:hover > * {
    color: #f9e45b;
}

.gototop a {
    background-color: #1b4d89;
}

.reach-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}